.categorysidebar .category img{
    width: 40px;
    height: 40px;
}

.categorysidebar{
    width: 20%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
}

.categorysidebar .category{
    display: flex;
    align-items: center;
    border: 1px solid var(--col4);
    padding: 10px 20px;
    flex-wrap: wrap;
    gap: 10px;

}

.categorysidebar .category h3{
    font-size: 18px;
}

.categorysidebar .category:hover{
    background-color: var(--col1);
    border: 1px solid var(--col3);
}