:root {
    --col1: #775AF4;
    --col2: #303030;
    --col3: #FEFAF1;
    --col4: #1B1C1F;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

#dropdown-basic-catagory {
    outline: none;
    border: none;
    margin: 0px;
    padding: 0px;
}
#dropdown-basic-more {
    outline: none;
    border: none;
    margin: 0px;
    padding: 0px;
}

